*{
    margin: 0;
}
body {
    font-family: Arial, sans-serif;
    padding: 100px;
    height: 100px;
    background-color: #f4f4f4;
}

h2 {
    color: #333;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

